@{
    Layout = null;
}
<style type="text/css">
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            @*<div class="ibox-title">
                <h5>固件详情</h5>
            </div>*@
            <div class="ibox-content">
                <form id="formui">
                    <table class="table table-bordered" width="100%">
                        <tbody>
                            <tr>
                                <th width="80"> ID：</th>
                                <td>
                                    <div class="form-group ">
                                        <div class="col-sm-12">
                                            <input class="form-control" id="ds_host" type="text" placeholder="192.168.1.161" />
                                        </div>

                                    </div>
                                </td>
                                <th width="80"> ID：</th>
                                <td>
                                    <div class="form-group ">
                                        <div class="col-sm-12">
                                            <input class="form-control" id="ds_host" type="text" placeholder="192.168.1.161" />
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th width="80"> ID：</th>
                                <td>
                                    <div class="form-group ">
                                        <div class="col-sm-12">
                                            <input class="form-control" id="ds_host" type="text" placeholder="192.168.1.161" />
                                        </div>

                                    </div>
                                </td>
                                <th width="80"> ID：</th>
                                <td>
                                    <div class="form-group ">
                                        <div class="col-sm-12">
                                            <input class="form-control" id="ds_host" type="text" placeholder="192.168.1.161" />
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>

            </div>
        </div>
    </div>
</div>